chromadb
crewai
fastapi[standard]
fastmcp
fastmcp-slim
httpcore
huggingface_hub
langchain
langchain-chroma
langchain-core
langchain-mcp-adapters
langchain-protocol
langgraph
langgraph-checkpoint
langgraph-prebuilt
langgraph-sdk
langsmith
linkify-it-py
markdown-it-py
MarkupSafe
mcp
mdit-py-plugins
mdurl
mmh3
more-itertools
multidict
multitasking
newsapi-python
numpy
openai
pandas
pydantic
PyJWT
yfinance
sqlalchemy

